.MainPage-body {
  margin-top: 20px;
  background-color: #d9d9d9;
}

.MainPage-body-part {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.MainPage-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
