.MainPage-body {
  margin-top: 20px;
  background-color: #d9d9d9;
}

.MainPage-body-part {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.MainPage-text {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.SliderImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 500%;
  color: white;

}

.container {
  position: relative;
  text-align: center;
  color: black;
  height: 100%;
  width: 100%;
}

.HomeText{
  font-family: 'Segoe UI';
  font-size: 60%;
}

.HomeList{
  text-align: center;
  font-size: 220%;
}

.ImagePartner {
  float: left;
  width: 90%;
  height: 90%;
}

.SliderButton{
  position: absolute;
  top: 50%;
  background-color: #d9d9d9;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
